.top-menu {
    display: flex;  /*Make it so we can chose how we want to arrange the stuff */
    justify-content: space-between; /*Put space between items so thay are pushed apart */
    align-items: center; /*Align the stuff verticlaly*/
    
    padding: 20px; /*Add padding within the header */
    
    background-color: #222222;

}


.enormous_text {
    font-size: 30px;
    font-weight: bold;
    color: #333333;
    margin: 5px;
}
.box {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 10px;
}

.box h3 {
    margin: 0;
}

.box h6 {
    margin: 0;
}
.logo-area span {
    color: white; /*Find the span within the the .logo-area and apply this to that*/
    font-size: 30px;
}

.logo-area img {
    width: 50px;
}

.logo-area {
    display: flex;
    align-items: center;
    gap: 10px; /* Gap between components */

} 

.menu {
    display: flex;
    gap: 20px;
}

.menu a {
    color: white; /* Makes the a (links) in menu white*/
    text-decoration: none; /* Removes the underline that otherwise exist */

}