<footer class="bottom_menu">
    <div class = "pattern_bottom_image_box">
        <img src="/images/bottom_thingy.svg" alt="" class = "pattern_image_bottom">
    </div>
    <div class="footer_content"> 
        <div>
            <p class = "crosslab_text">
                Crosslab 
            </p>
            <p class = "under_text"> 
                A free evening course at FUSE makerspace at Chalmers and UniPod at University of Rwanda.
            </p>
        </div>
        <div class = "question">
            <p class="font-bold">
                Questions?
            </p>
            <a class = "underline" href = "mailto:info@crosslab.rw">info@crosslab.rw</a>
        </div>
        <div class = "footer_links">
            <a class = "underline" href ="Apply.html">Apply</a>
            <a class = "underline" href = "FAQ.html">FAQ</a>
            <a class = "underline" href = "About_Course.html">About Course</a>
        </div>
    </div>
</footer>
